services:
  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tanstack-start-todo
    volumes:
      - pgdata:/var/lib/postgres/data

volumes:
  pgdata: